//-
 *
 *  *****************************************************************************************************
 *   Copyright 2020 Korea University 
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 *   *****************************************************************************************************
 *   Developed by Kwanhoon Lee, Jaemin Im, Stella team, Operating Systems Lab of Korea University
 *   *****************************************************************************************************
 *
 -//
extends layout

block content
  .container
    .cards.infinite_scroll
      if patientlist.length
        each pic, index in patientlist
            .post
              .col.s12.m7
                  ul.collapsible(data-collapsivle="expandable")
                    li.responsive
                      .card.collapsible-header
                        .card-content-tag1
                          b PatientID<br/>
                          p #{ pic['pid']} <br/>
                        .card-signature-left-padding-div
                        .card-signature
                          <center>
                          //- p(style="font-size:0.8rem; color:#02B3FE;")
                          //-   | Digital<br/>Signature
                          //- a.btn-floating.btn.pulse.cyan(style="width:50px; height:50px")
                          //-   i.material-icons(style="font-size: 40px; margin-top:5px; margin-left:5px") fingerprint
                          </center>
                        .card-signature
                          <center>
                          p(style="font-size:0.8rem; color:#E50080;")
                            | Copy<br/>Link
                          button.btn-floating.btn.pulse.pink(class="btn_copy_url" style="width:50px; height:50px" data-clipboard-text="https://ipfs.io/ipfs/" + pic['cid'])
                            i.material-icons(style="font-size: 40px; margin-top:5px; margin-left:5px") link
                          </center>

                      .collapsible-body
                        .card-content-tag2
                          b test <br/>
                          | #{ pic['name']} <br/><br>
                        b Name <br/>
                        if pic['name'].startsWith('http')
                          a(href=pic['name'] target="_blank") #{pic['name']}
                        else
                          h7 #{pic['name']}
                        <br/><br/>
                        b Brithdate <br/>
                        | #{pic['birthDate']}
                        <br/><br/>
                        b Infection <br/>
                        | #{pic['infection']}
                        <br/><br/>
                        b Travel route<br/>
                        | #{pic['travelRoute']}
                        <br/><br/>
                        b Notes<br/>
                        | #{pic['note']}
